.button-container {
  font-size: 30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-color: #dfe2e5;
  color: #7b8794;
  background-color: transparent;
  border-bottom: 10px;
}
.yes {
  border-bottom: 30px !important;
  color: #2563eb;
  border-bottom-color: #2563eb !important;
}
.list-item {
  margin: 10px;
}
